mq-min-width = 800px

main.container
    margin 2em 10px

@media screen and (min-width: mq-min-width)
  .wrap
    width mq-min-width
    margin 0 auto
    margin-top 4rem
  header
    padding 20px 100px

@media screen and (max-width: mq-min-width)
  .wrap
    width 100%
    margin-top 4rem
  header
    padding 20px 0
    a.logo-link,ul.nav.nav-list
      float none
       display block
       text-align center
    li.nav-list-item
       padding 10px 10px

.wrap_top_bar
  width  mq-min-width
  margin 0 auto

style_iphone_android()
  .wrap_top_bar
    width auto
  .wrap
    padding-left 1em
    padding-right 1em
    .header_bar
      .avatar
        width auto
        float none
      .desc
        width auto
        float none
      .contact
        width auto
        float none
        text-align center
    .block_title
      font-size 1.56em
      text-align center
    .work_historys 
      .history
        div.company_time
          span.time
            width auto
            display block 
            float none
          a
            display block
            float none
            width auto
          span.job_title
            display block
            float none
            width auto
            text-align left
        ul
          list-style-position: inside;
    div.app_links
      li
        a
          display block
          width auto
        padding-bottom 1.2em
    div.skill
      li
        label:first-child
          width 40%
    div.target
      li
        label
          display block
          width 85%
        padding-bottom 1.2em


@media only screen and (max-device-width: 47.999em)
  style_iphone_android()

  
@media print
  .wrap
    width 100%
    padding-left 2em
    padding-right 2em
    margin-top 0 em
  .top_bar .nav
    float left
  .top_bar
    display none
  
  div.block_title
    text-align left
    font-size 1.7em

  ul
    list-style-position inside
