
top-bar-height = 3rem

.clearfix
  clear both

.btn
  display inline-block
  zoom 1
  line-height normal
  white-space nowrap
  vertical-align middle
  text-align center
  cursor pointer
  user-drag none
  user-select none
  box-sizing border-box

.block_title
  //border-bottom 1px solid #ddd
  color #2c3e50
  text-decoration none
  margin 0.65em 0
  font-size 1.2em
  text-align left

.top_bar
  width 100%
  margin 0 auto
  height top-bar-height
  background-color #292f36
  position fixed
  left 0
  top 0
  z-index 99999
  color white


.top_bar .nav
  display inline-block
  list-style: none
  float: right
  li
    display: inline-block
    vertical-align: top
    zoom: 1


.top_bar .nav .btn
    padding 0.7em 1em 0 1em
    color white
    text-decoration none
    border none

.top_bar .nav .btn-pdf
  font-size 1rem
  line-height 1.6rem

.top_bar .nav .btn-blog i
  font-size: 2rem;
  line-height: 2rem;


.header_bar
  clear both
  position relative
  padding 1em 0
  zoom 1
  display block
  .avatar
    width 20%
    float left
  .desc
    width 59%
    padding 2rem
    padding-bottom 0
    float left
    line-height 2rem
  .contact
    width 10%
    float left
    margin-top: 3rem
    ul
      text-align center
      display: inline-block;
    .qrcode
      padding-bottom 1rem

.avatar
  text-align center

.avatar img
  width: 8rem
  border-radius: 50%
  border: 5px solid #607d8b

